* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(176, 223, 255);
  font-family: 'Times New Roman', Times, serif;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.painel {
  width: 800px;
  background: #f8f9fa;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 350%;
  letter-spacing: 3.5px;
}

.subtitulo {
  text-align: center;
  color: #6b0989;
  margin-bottom: 20px;
}

form {
  display: flex;
  gap: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 12px;
  background-color: #dbf3ff;
  border: 1px solid #51c5ff;
  border-radius: 6px;
}

form button {
  background: #873cc5;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
}

form button:hover {
  background: #780caf;
}

.erro {
  color: red;
  margin-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.ideia-list {
  list-style: none;
  margin-top: 20px;
}

.ideia-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #eaaaff;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.08);
  font-size: 120%;
}

.container-ideia {
  display: flex;
  align-items: center;
  gap: 10px;
  word-break: break-word;
  gap: 10px;
  flex: 1;
}

input[type="checkbox"] {
  width: 18.2px;
  height: 18.2px;
  cursor: pointer;
  accent-color: #00a403;
  flex-shrink: 0;
}

.ideia-item:has(input:checked) {
  background: #fceaff;
  border-color: #8a2ecc;
}

.completada {
  text-decoration: line-through;
  color: gray;
}

.botao-remover {
  background: #db98ff;
  color: rgb(84, 0, 137);
  border: none;
  width: 35px;
  height: 35px;
  font-size: 110%;
  border-radius: 50%;
  cursor: pointer;
}

.botao-remover:hover {
  background: #8e1ccc;
  color: white;
  transform: scale(1.05);
  transition: 0.2s;
}

.contador-caracter {
  margin-top: 10px;
}

footer {
  margin-top: 20px;
  color: #444444;
  border-top: 1.25px solid #873cc5;
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botao-limpar{
  background: #ff2323;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.botao-limpar:hover {
  background: #d80000;
  transform: scale(1.08);
  transition: 0.2s;
}